<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Service</th>
    <th>Comments</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let patient of patients" [appHighlightMostVisits]="{ patients: patients, patientId: patient.id }">
    <td>{{ patient.name }}</td>
    <td>{{ patient.date_of_birth | dateFormat }}</td>
    <td>{{ patient.gender.name }}</td>
    <td *ngFor="let service of patient.services">
      {{ service.service.name }}
    </td>
    <td *ngFor="let service of patient.services">
      {{ service.comments }}
    </td>
  </tr>
  </tbody>
</table>
